# PyCharm IDE
.idea
__pycache__

# This is where torch text datasets like IWSLT and WMT14 will be downloaded to
.data
data/*.csv
data/iwslt
data/wikitext-2
data/wmt14

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Tensorboard log files
runs

# Models checkpoints and binaries
models/checkpoints
models/binaries

# Azure ML related
.azureml
submit_to_aml.py
environment_aml.yml
training_script_aml.py
pytorch-original-transformer